{% extends 'index.twig' %}

{% block titulo %}
    Novo Usuário
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form action="trata-form.php" method="POST" onsubmit="return validaForm()" id="cadastraUsuario">
                <div class="form-group">
                    <label for="nome">Nome Usuário:</label>
                    <input type="text" value="{{ template.objUsuario.nome }}" class="form-control" name="nome" id="nome" placeholder="Nome e Sobrenome">
                    <input type="hidden" value="{{ template.objUsuario.id }}" name="id" id="id">
                </div>
                <div class="form-group">
                    <label for="cep">CEP:</label>
                    <input type="text" value="{{ template.objUsuario.cep }}" class="form-control" name="cep" id="cep" alt="cep" placeholder="00000-000">
                </div>
                <div class="form-group">
                    <label for="rua">Rua:</label>
                    <input type="text" value="{{ template.objUsuario.rua }}" class="form-control" name="rua" id="rua" placeholder="Nome da Rua">
                </div>
                <div class="form-group">
                    <label for="numero">Número:</label>
                    <input type="number" value="{{ template.objUsuario.numero }}" class="form-control" name="numero" id="numero" placeholder="0">
                </div>
                <div class="form-group">
                    <label for="complemento">Complemento:</label>
                    <input type="text" value="{{ template.objUsuario.complemento }}" class="form-control" name="complemento" id="complemento" placeholder="Ex.: Bloco A, Apto. 102">
                </div>
                <div class="form-group">
                    <label for="bairro">Bairro:</label>
                    <input type="text" value="{{ template.objUsuario.bairro }}" class="form-control" name="bairro" id="bairro" placeholder="Nome do Bairro">
                </div>
                <div class="form-group">
                    <label for="cidade">Cidade:</label>
                    <input type="text" value="{{ template.objUsuario.cidade }}" class="form-control" name="cidade" id="cidade" placeholder="Nome da Cidade">
                </div>
                <div class="form-group">
                    <label for="uf">Estado:</label>
                    <select id="uf" name="uf" class="form-control">
                        <option value="">SELECIONE</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espirito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="telefones">Telefones:</label>
                    <input type="text" value="{{ template.objUsuario.telefones }}" class="form-control" name="telefones" id="telefones" placeholder="Separar os telefones com ; (ponto e vírgula)">
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-dark" >Salvar</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
{% endblock %}